USE [master]
GO
/****** Object:  Database [rcms]    Script Date: 10/22/2025 11:07:11 PM ******/
CREATE DATABASE [rcms]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'rcms', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\rcms.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'rcms_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\rcms_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [rcms].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [rcms]
GO
/****** Object:  Table [dbo].[application]    Script Date: 10/22/2025 11:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[application](
	[application_id] [int] IDENTITY(1,1) NOT NULL,
	[job_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[resume_id] [int] NOT NULL,
	[status] [nvarchar](256) NOT NULL,
	[applied_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[application_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[candidate_document]    Script Date: 10/22/2025 11:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[candidate_document](
	[document_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title] [nvarchar](1024) NOT NULL,
	[file_path] [nvarchar](256) NOT NULL,
	[doc_type] [nvarchar](30) NOT NULL,
	[uploaded_at] [datetime2](7) NOT NULL,
	[file_size] [bigint] NULL,
	[issued_by] [nvarchar](255) NULL,
	[issued_at] [date] NULL,
	[expires_at] [date] NULL,
	[status] [nvarchar](30) NOT NULL,
	[verified_by] [int] NULL,
	[verified_at] [datetime2](7) NULL,
	[note] [nvarchar](max) NULL,
	[updated_at] [datetime2](7) NULL,
	[is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[document_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[candidate_skill]    Script Date: 10/22/2025 11:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[candidate_skill](
	[user_id] [int] NOT NULL,
	[skill_id] [int] NOT NULL,
	[level] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contract]    Script Date: 10/22/2025 11:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contract](
	[contract_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[salary] [decimal](10, 0) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[contract_type] [nvarchar](256) NOT NULL,
	[file_path] [nvarchar](1024) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[contract_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[interview]    Script Date: 10/22/2025 11:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[interview](
	[interview_id] [int] IDENTITY(1,1) NOT NULL,
	[application_id] [int] NOT NULL,
	[scheduled_at] [datetime2](7) NOT NULL,
	[location_id] [int] NOT NULL,
	[interviewer_fullname] [nvarchar](256) NOT NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[interview_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[interview_feedback]    Script Date: 10/22/2025 11:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[interview_feedback](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[interview_id] [int] NOT NULL,
	[reviewer_id] [int] NOT NULL,
	[rating] [decimal](10, 0) NOT NULL,
	[comment] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_category]    Script Date: 10/22/2025 11:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_posting]    Script Date: 10/22/2025 11:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_posting](
	[job_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[location_id] [int] NOT NULL,
	[title] [nvarchar](1048) NOT NULL,
	[experience] [nvarchar](256) NULL,
	[level] [nvarchar](256) NULL,
	[education] [nvarchar](256) NULL,
	[quantity] [nvarchar](256) NULL,
	[work_type] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[requirement] [nvarchar](max) NULL,
	[income] [nvarchar](max) NULL,
	[interest] [nvarchar](max) NULL,
	[min_salary] [decimal](10, 0) NULL,
	[max_salary] [decimal](10, 0) NULL,
	[status] [nvarchar](256) NULL,
	[posted_at] [datetime2](7) NOT NULL,
	[expired_at] [datetime2](7) NOT NULL,
	[createdBy] [int] NULL,
	[approvedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kpi_job]    Script Date: 10/22/2025 11:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kpi_job](
	[kpi_id] [int] IDENTITY(1,1) NOT NULL,
	[job_id] [int] NOT NULL,
	[analyzed_by] [int] NULL,
	[period_start] [date] NOT NULL,
	[period_end] [date] NOT NULL,
	[total_applications] [int] NULL,
	[interviewed_count] [int] NULL,
	[offer_sent_count] [int] NULL,
	[offer_accepted_count] [int] NULL,
	[hired_count] [int] NULL,
	[avg_days_to_fill] [decimal](10, 2) NULL,
	[interview_pass_rate] [decimal](5, 2) NULL,
	[offer_acceptance_rate] [decimal](5, 2) NULL,
	[hire_conversion_rate] [decimal](5, 2) NULL,
	[status] [nvarchar](50) NULL,
	[remarks] [nvarchar](max) NULL,
	[evaluated_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[kpi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kpi_recruiter]    Script Date: 10/22/2025 11:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kpi_recruiter](
	[kpi_id] [int] IDENTITY(1,1) NOT NULL,
	[recruiter_id] [int] NOT NULL,
	[manager_id] [int] NULL,
	[period_start] [date] NOT NULL,
	[period_end] [date] NOT NULL,
	[target_jobs_posted] [int] NULL,
	[target_applications_processed] [int] NULL,
	[target_interviews_conducted] [int] NULL,
	[target_hires] [int] NULL,
	[target_offer_acceptance_rate] [decimal](5, 2) NULL,
	[target_time_to_hire] [decimal](10, 2) NULL,
	[actual_jobs_posted] [int] NULL,
	[actual_applications_processed] [int] NULL,
	[actual_interviews_conducted] [int] NULL,
	[actual_hires] [int] NULL,
	[actual_offer_acceptance_rate] [decimal](5, 2) NULL,
	[actual_time_to_hire] [decimal](10, 2) NULL,
	[completion_rate] [decimal](5, 2) NULL,
	[performance_rating] [nvarchar](20) NULL,
	[remarks] [nvarchar](max) NULL,
	[evaluated_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[kpi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[location]    Script Date: 10/22/2025 11:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[location](
	[location_id] [int] IDENTITY(1,1) NOT NULL,
	[province] [nvarchar](256) NOT NULL,
	[ward] [nvarchar](256) NOT NULL,
	[detail] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[log]    Script Date: 10/22/2025 11:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[log_time] [datetime2](7) NOT NULL,
	[log_type] [nvarchar](10) NOT NULL,
	[log_from] [nvarchar](256) NULL,
	[request_by] [nvarchar](256) NULL,
	[log_content] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notification]    Script Date: 10/22/2025 11:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notification](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[message] [nvarchar](max) NULL,
	[is_read] [bit] NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[offer]    Script Date: 10/22/2025 11:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[offer](
	[offer_id] [int] IDENTITY(1,1) NOT NULL,
	[application_id] [int] NOT NULL,
	[position_title] [nvarchar](1048) NOT NULL,
	[offered_salary] [decimal](10, 0) NOT NULL,
	[currency] [nvarchar](50) NOT NULL,
	[start_date] [date] NOT NULL,
	[expired_at] [datetime2](7) NOT NULL,
	[offered_at] [datetime2](7) NOT NULL,
	[status] [nvarchar](256) NOT NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[offer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[resume]    Script Date: 10/22/2025 11:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[resume](
	[resume_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title] [nvarchar](256) NULL,
	[summary] [nvarchar](max) NULL,
	[experience] [nvarchar](max) NULL,
	[education] [nvarchar](max) NULL,
	[skills_text] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[file_path] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[resume_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 10/22/2025 11:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](20) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skill]    Script Date: 10/22/2025 11:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill](
	[skill_id] [int] IDENTITY(1,1) NOT NULL,
	[skill_name] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 10/22/2025 11:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[status] [nvarchar](100) NOT NULL,
	[fullname] [nvarchar](256) NOT NULL,
	[email] [nvarchar](256) NOT NULL,
	[password] [nvarchar](1024) NOT NULL,
	[phone_number] [nvarchar](15) NULL,
	[address] [nvarchar](1024) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[application] ON 

INSERT [dbo].[application] ([application_id], [job_id], [user_id], [resume_id], [status], [applied_at]) VALUES (2, 1, 6, 1, N'Applied', CAST(N'2025-10-16T11:47:53.6564139' AS DateTime2))
INSERT [dbo].[application] ([application_id], [job_id], [user_id], [resume_id], [status], [applied_at]) VALUES (3, 1, 7, 2, N'Applied', CAST(N'2025-10-14T11:47:53.6564139' AS DateTime2))
INSERT [dbo].[application] ([application_id], [job_id], [user_id], [resume_id], [status], [applied_at]) VALUES (4, 2, 8, 3, N'Applied', CAST(N'2025-10-11T11:47:53.6564139' AS DateTime2))
SET IDENTITY_INSERT [dbo].[application] OFF
GO
SET IDENTITY_INSERT [dbo].[candidate_document] ON 

INSERT [dbo].[candidate_document] ([document_id], [user_id], [title], [file_path], [doc_type], [uploaded_at], [file_size], [issued_by], [issued_at], [expires_at], [status], [verified_by], [verified_at], [note], [updated_at], [is_deleted]) VALUES (4, 3, N'Chứng chỉ TOEIC 900', N'uploads/toeic_900.pdf', N'CERTIFICATE', CAST(N'2025-10-11T00:08:36.3200000' AS DateTime2), 150000, N'IIG Việt Nam', CAST(N'2022-07-15' AS Date), CAST(N'2024-07-15' AS Date), N'PENDING', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[candidate_document] ([document_id], [user_id], [title], [file_path], [doc_type], [uploaded_at], [file_size], [issued_by], [issued_at], [expires_at], [status], [verified_by], [verified_at], [note], [updated_at], [is_deleted]) VALUES (6, 3, N'Bằng lái xe B2', N'uploads/driving_license_b2.png', N'LICENSE', CAST(N'2025-10-11T00:08:36.3200000' AS DateTime2), 120000, N'Sở GTVT Hà Nội', CAST(N'2020-12-01' AS Date), CAST(N'2030-12-01' AS Date), N'ACTIVE', 1, NULL, NULL, CAST(N'2025-10-13T10:49:41.1600000' AS DateTime2), 1)
INSERT [dbo].[candidate_document] ([document_id], [user_id], [title], [file_path], [doc_type], [uploaded_at], [file_size], [issued_by], [issued_at], [expires_at], [status], [verified_by], [verified_at], [note], [updated_at], [is_deleted]) VALUES (8, 3, N'Chứng nhận AWS Cloud Practitioner', N'uploads/aws_cp.pdf', N'CERTIFICATE', CAST(N'2025-10-11T00:08:36.3200000' AS DateTime2), 250000, N'Amazon Web Services', CAST(N'2023-02-15' AS Date), CAST(N'2026-02-15' AS Date), N'ACTIVE', NULL, NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[candidate_document] OFF
GO
SET IDENTITY_INSERT [dbo].[job_category] ON 

INSERT [dbo].[job_category] ([category_id], [category_name], [description]) VALUES (1, N'Phát triển phần mềm', N'Tuyển dụng các vị trí về lập trình viên, kỹ sư phần mềm, fullstack, backend, frontend.')
INSERT [dbo].[job_category] ([category_id], [category_name], [description]) VALUES (2, N'Kiểm thử phần mềm (QA/QC)', N'Các vị trí kiểm thử chất lượng sản phẩm phần mềm.')
INSERT [dbo].[job_category] ([category_id], [category_name], [description]) VALUES (3, N'Hệ thống & DevOps', N'Các vị trí quản trị hệ thống, cloud, CI/CD, triển khai và bảo mật hệ thống.')
SET IDENTITY_INSERT [dbo].[job_category] OFF
GO
SET IDENTITY_INSERT [dbo].[job_posting] ON 

SET IDENTITY_INSERT [dbo].[job_posting] OFF
GO
SET IDENTITY_INSERT [dbo].[location] ON 

INSERT [dbo].[location] ([location_id], [province], [ward], [detail]) VALUES (1, N'Hà Nội', N'Quận Ba Đình', N'Khu vực trung tâm hành chính')
INSERT [dbo].[location] ([location_id], [province], [ward], [detail]) VALUES (2, N'Hà Nội', N'Quận Hoàn Kiếm', N'Khu vực phố cổ, trung tâm thương mại')
INSERT [dbo].[location] ([location_id], [province], [ward], [detail]) VALUES (3, N'Hà Nội', N'Quận Cầu Giấy', N'Khu vực tập trung nhiều tòa nhà văn phòng, IT')
SET IDENTITY_INSERT [dbo].[location] OFF
GO
SET IDENTITY_INSERT [dbo].[resume] ON 

INSERT [dbo].[resume] ([resume_id], [user_id], [title], [summary], [experience], [education], [skills_text], [created_at], [file_path]) VALUES (1, 6, N'CV - Hoàng Thị Lan (Java)', N'Backend Developer 2 năm kinh nghiệm.', NULL, NULL, NULL, CAST(N'2025-10-16T11:47:48.5622172' AS DateTime2), NULL)
INSERT [dbo].[resume] ([resume_id], [user_id], [title], [summary], [experience], [education], [skills_text], [created_at], [file_path]) VALUES (2, 7, N'CV - Bùi Đức Trung (Frontend)', N'Frontend Developer với kỹ năng ReactJS.', NULL, NULL, NULL, CAST(N'2025-10-16T11:47:48.5622172' AS DateTime2), NULL)
INSERT [dbo].[resume] ([resume_id], [user_id], [title], [summary], [experience], [education], [skills_text], [created_at], [file_path]) VALUES (3, 8, N'CV - Đặng Mai Phương (Tester)', N'Tester Fresher, viết test case, report bug.', NULL, NULL, NULL, CAST(N'2025-10-16T11:47:48.5622172' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[resume] OFF
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([role_id], [role_name], [description]) VALUES (1, N'Admin', N'System administrator with full access rights.')
INSERT [dbo].[role] ([role_id], [role_name], [description]) VALUES (2, N'Candidate', N'Job seeker applying for positions.')
INSERT [dbo].[role] ([role_id], [role_name], [description]) VALUES (3, N'Manager', N'Human Resources manager responsible for recruitment.')
SET IDENTITY_INSERT [dbo].[role] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([user_id], [role_id], [status], [fullname], [email], [password], [phone_number], [address], [created_at], [updated_at]) VALUES (1, 1, N'Active', N'Nguyễn Văn An', N'admin.an.nguyen@company.com', N'1a43e85842b0020c7444059a0f81bd3eb047160e638319ecb69c275d554a67b0', N'0912345678', N'123 Đường Láng, Đống Đa, Hà Nội', CAST(N'2025-10-10T13:54:47.8266667' AS DateTime2), NULL)
INSERT [dbo].[user] ([user_id], [role_id], [status], [fullname], [email], [password], [phone_number], [address], [created_at], [updated_at]) VALUES (2, 1, N'Active', N'Trần Thị Bích', N'admin.bich.tran@company.com', N'1a43e85842b0020c7444059a0f81bd3eb047160e638319ecb69c275d554a67b0', N'0987654321', N'456 Lê Lợi, Quận 1, TP. Hồ Chí Minh', CAST(N'2025-10-10T13:54:47.8266667' AS DateTime2), NULL)
INSERT [dbo].[user] ([user_id], [role_id], [status], [fullname], [email], [password], [phone_number], [address], [created_at], [updated_at]) VALUES (3, 1, N'Active', N'Lê Minh Cường', N'admin.cuong.le@company.com', N'1a43e85842b0020c7444059a0f81bd3eb047160e638319ecb69c275d554a67b0', N'0905112233', N'789 Hùng Vương, Hải Châu, Đà Nẵng', CAST(N'2025-10-10T13:54:47.8266667' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[user] OFF
GO
ALTER TABLE [dbo].[candidate_document] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[candidate_document] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[kpi_job] ADD  DEFAULT (N'Active') FOR [status]
GO
ALTER TABLE [dbo].[kpi_job] ADD  DEFAULT (sysdatetime()) FOR [evaluated_at]
GO
ALTER TABLE [dbo].[kpi_job] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[kpi_recruiter] ADD  DEFAULT (sysdatetime()) FOR [evaluated_at]
GO
ALTER TABLE [dbo].[kpi_recruiter] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[application]  WITH CHECK ADD  CONSTRAINT [FK_application_job] FOREIGN KEY([job_id])
REFERENCES [dbo].[job_posting] ([job_id])
GO
ALTER TABLE [dbo].[application] CHECK CONSTRAINT [FK_application_job]
GO
ALTER TABLE [dbo].[application]  WITH CHECK ADD  CONSTRAINT [FK_application_resume] FOREIGN KEY([resume_id])
REFERENCES [dbo].[resume] ([resume_id])
GO
ALTER TABLE [dbo].[application] CHECK CONSTRAINT [FK_application_resume]
GO
ALTER TABLE [dbo].[application]  WITH CHECK ADD  CONSTRAINT [FK_application_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[application] CHECK CONSTRAINT [FK_application_user]
GO
ALTER TABLE [dbo].[candidate_document]  WITH CHECK ADD  CONSTRAINT [FK_candidate_document_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[candidate_document] CHECK CONSTRAINT [FK_candidate_document_user]
GO
ALTER TABLE [dbo].[candidate_document]  WITH CHECK ADD  CONSTRAINT [FK_candidate_document_verified_by] FOREIGN KEY([verified_by])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[candidate_document] CHECK CONSTRAINT [FK_candidate_document_verified_by]
GO
ALTER TABLE [dbo].[candidate_skill]  WITH CHECK ADD  CONSTRAINT [FK_candidate_skill_skill] FOREIGN KEY([skill_id])
REFERENCES [dbo].[skill] ([skill_id])
GO
ALTER TABLE [dbo].[candidate_skill] CHECK CONSTRAINT [FK_candidate_skill_skill]
GO
ALTER TABLE [dbo].[candidate_skill]  WITH CHECK ADD  CONSTRAINT [FK_candidate_skill_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[candidate_skill] CHECK CONSTRAINT [FK_candidate_skill_user]
GO
ALTER TABLE [dbo].[contract]  WITH CHECK ADD  CONSTRAINT [FK_contract_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[contract] CHECK CONSTRAINT [FK_contract_user]
GO
ALTER TABLE [dbo].[interview]  WITH CHECK ADD  CONSTRAINT [FK_interview_application] FOREIGN KEY([application_id])
REFERENCES [dbo].[application] ([application_id])
GO
ALTER TABLE [dbo].[interview] CHECK CONSTRAINT [FK_interview_application]
GO
ALTER TABLE [dbo].[interview_feedback]  WITH CHECK ADD  CONSTRAINT [FK_interview_feedback_interview] FOREIGN KEY([interview_id])
REFERENCES [dbo].[interview] ([interview_id])
GO
ALTER TABLE [dbo].[interview_feedback] CHECK CONSTRAINT [FK_interview_feedback_interview]
GO
ALTER TABLE [dbo].[interview_feedback]  WITH CHECK ADD  CONSTRAINT [FK_interview_feedback_user] FOREIGN KEY([reviewer_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[interview_feedback] CHECK CONSTRAINT [FK_interview_feedback_user]
GO
ALTER TABLE [dbo].[job_posting]  WITH CHECK ADD  CONSTRAINT [FK_job_posting_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[job_category] ([category_id])
GO
ALTER TABLE [dbo].[job_posting] CHECK CONSTRAINT [FK_job_posting_category]
GO
ALTER TABLE [dbo].[job_posting]  WITH CHECK ADD  CONSTRAINT [FK_job_posting_location] FOREIGN KEY([location_id])
REFERENCES [dbo].[location] ([location_id])
GO
ALTER TABLE [dbo].[job_posting] CHECK CONSTRAINT [FK_job_posting_location]
GO
ALTER TABLE [dbo].[job_posting]  WITH CHECK ADD  CONSTRAINT [FK_job_posting_user] FOREIGN KEY([createdBy])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[job_posting] CHECK CONSTRAINT [FK_job_posting_user]
GO
ALTER TABLE [dbo].[kpi_job]  WITH CHECK ADD  CONSTRAINT [FK_kpi_job_job] FOREIGN KEY([job_id])
REFERENCES [dbo].[job_posting] ([job_id])
GO
ALTER TABLE [dbo].[kpi_job] CHECK CONSTRAINT [FK_kpi_job_job]
GO
ALTER TABLE [dbo].[kpi_job]  WITH CHECK ADD  CONSTRAINT [FK_kpi_job_user] FOREIGN KEY([analyzed_by])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[kpi_job] CHECK CONSTRAINT [FK_kpi_job_user]
GO
ALTER TABLE [dbo].[kpi_recruiter]  WITH CHECK ADD  CONSTRAINT [FK_kpi_recruiter_manager] FOREIGN KEY([manager_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[kpi_recruiter] CHECK CONSTRAINT [FK_kpi_recruiter_manager]
GO
ALTER TABLE [dbo].[kpi_recruiter]  WITH CHECK ADD  CONSTRAINT [FK_kpi_recruiter_user] FOREIGN KEY([recruiter_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[kpi_recruiter] CHECK CONSTRAINT [FK_kpi_recruiter_user]
GO
ALTER TABLE [dbo].[notification]  WITH CHECK ADD  CONSTRAINT [FK_notification_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[notification] CHECK CONSTRAINT [FK_notification_user]
GO
ALTER TABLE [dbo].[offer]  WITH CHECK ADD  CONSTRAINT [FK_offer_application] FOREIGN KEY([application_id])
REFERENCES [dbo].[application] ([application_id])
GO
ALTER TABLE [dbo].[offer] CHECK CONSTRAINT [FK_offer_application]
GO
ALTER TABLE [dbo].[resume]  WITH CHECK ADD  CONSTRAINT [FK_resume_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[resume] CHECK CONSTRAINT [FK_resume_user]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([role_id])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_role]
GO
USE [master]
GO
