USE [master]
GO
/****** Object:  Database [rcms]    Script Date: 10/10/2025 9:37:08 PM ******/
IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'rcms')
BEGIN
    CREATE DATABASE rcms;
END
GO

USE [rcms]
GO
/****** Object:  Table [dbo].[application]    Script Date: 10/10/2025 9:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[application](
	[application_id] [int] IDENTITY(1,1) NOT NULL,
	[job_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[resume_id] [int] NOT NULL,
	[status] [nvarchar](256) NOT NULL,
	[applied_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[application_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[candidate_document]    Script Date: 10/10/2025 9:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[candidate_document](
	[document_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title] [nvarchar](1024) NOT NULL,
	[file_path] [nvarchar](256) NOT NULL,
	[doc_type] [nvarchar](30) NOT NULL,
	[uploaded_at] [datetime2](7) NOT NULL,
	[file_size] [bigint] NULL,
	[issued_by] [nvarchar](255) NULL,
	[issued_at] [date] NULL,
	[expires_at] [date] NULL,
	[status] [nvarchar](30) NOT NULL,
	[verified_by] [int] NULL,
	[verified_at] [datetime2](7) NULL,
	[note] [nvarchar](max) NULL,
	[updated_at] [datetime2](7) NULL,
	[is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[document_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[candidate_skill]    Script Date: 10/10/2025 9:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[candidate_skill](
	[user_id] [int] NOT NULL,
	[skill_id] [int] NOT NULL,
	[level] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contract]    Script Date: 10/10/2025 9:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contract](
	[contract_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[salary] [decimal](10, 0) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[contract_type] [nvarchar](256) NOT NULL,
	[file_path] [nvarchar](1024) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[contract_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[interview]    Script Date: 10/10/2025 9:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[interview](
	[interview_id] [int] IDENTITY(1,1) NOT NULL,
	[application_id] [int] NOT NULL,
	[scheduled_at] [datetime2](7) NOT NULL,
	[location_id] [int] NOT NULL,
	[interviewer_fullname] [nvarchar](256) NOT NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[interview_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[interview_feedback]    Script Date: 10/10/2025 9:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[interview_feedback](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[interview_id] [int] NOT NULL,
	[reviewer_id] [int] NOT NULL,
	[rating] [decimal](10, 0) NOT NULL,
	[comment] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_category]    Script Date: 10/10/2025 9:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_posting]    Script Date: 10/10/2025 9:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_posting](
	[job_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[location_id] [int] NOT NULL,
	[title] [nvarchar](1048) NOT NULL,
	[experience] [nvarchar](256) NULL,
	[level] [nvarchar](256) NULL,
	[education] [nvarchar](256) NULL,
	[quantity] [nvarchar](256) NULL,
	[work_type] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[requirement] [nvarchar](max) NULL,
	[income] [nvarchar](max) NULL,
	[interest] [nvarchar](max) NULL,
	[min_salary] [decimal](10, 0) NULL,
	[max_salary] [decimal](10, 0) NULL,
	[status] [nvarchar](256) NULL,
	[posted_at] [datetime2](7) NOT NULL,
	[expired_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[location]    Script Date: 10/10/2025 9:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[location](
	[location_id] [int] IDENTITY(1,1) NOT NULL,
	[province] [nvarchar](256) NOT NULL,
	[ward] [nvarchar](256) NOT NULL,
	[detail] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[log]    Script Date: 10/10/2025 9:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[log_time] [datetime2](7) NOT NULL,
	[log_type] [nvarchar](10) NOT NULL,
	[log_from] [nvarchar](256) NULL,
	[request_by] [nvarchar](256) NULL,
	[log_content] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notification]    Script Date: 10/10/2025 9:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notification](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[message] [nvarchar](max) NULL,
	[is_read] [bit] NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[offer]    Script Date: 10/10/2025 9:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[offer](
	[offer_id] [int] IDENTITY(1,1) NOT NULL,
	[application_id] [int] NOT NULL,
	[position_title] [nvarchar](1048) NOT NULL,
	[offered_salary] [decimal](10, 0) NOT NULL,
	[currency] [nvarchar](50) NOT NULL,
	[start_date] [date] NOT NULL,
	[expired_at] [datetime2](7) NOT NULL,
	[offered_at] [datetime2](7) NOT NULL,
	[status] [nvarchar](256) NOT NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[offer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[resume]    Script Date: 10/10/2025 9:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[resume](
	[resume_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title] [nvarchar](256) NULL,
	[summary] [nvarchar](max) NULL,
	[experience] [nvarchar](max) NULL,
	[education] [nvarchar](max) NULL,
	[skills_text] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[file_path] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[resume_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 10/10/2025 9:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](20) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skill]    Script Date: 10/10/2025 9:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill](
	[skill_id] [int] IDENTITY(1,1) NOT NULL,
	[skill_name] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 10/10/2025 9:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[status] [nvarchar](100) NOT NULL,
	[fullname] [nvarchar](256) NOT NULL,
	[email] [nvarchar](256) NOT NULL,
	[password] [nvarchar](1024) NOT NULL,
	[phone_number] [nvarchar](15) NULL,
	[address] [nvarchar](1024) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[location] ON 

INSERT [dbo].[location] ([location_id], [province], [ward], [detail]) VALUES (1, N'Hà Nội', N'Quận Ba Đình', N'Khu vực trung tâm hành chính')
INSERT [dbo].[location] ([location_id], [province], [ward], [detail]) VALUES (2, N'Hà Nội', N'Quận Hoàn Kiếm', N'Khu vực phố cổ, trung tâm thương mại')
INSERT [dbo].[location] ([location_id], [province], [ward], [detail]) VALUES (3, N'Hà Nội', N'Quận Cầu Giấy', N'Khu vực tập trung nhiều tòa nhà văn phòng, IT')
SET IDENTITY_INSERT [dbo].[location] OFF
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([role_id], [role_name], [description]) VALUES (1, N'Admin', N'System administrator with full access rights.')
INSERT [dbo].[role] ([role_id], [role_name], [description]) VALUES (2, N'Candidate', N'Job seeker applying for positions.')
INSERT [dbo].[role] ([role_id], [role_name], [description]) VALUES (3, N'Manager', N'Human Resources manager responsible for recruitment.')
SET IDENTITY_INSERT [dbo].[role] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([user_id], [role_id], [status], [fullname], [email], [password], [phone_number], [address], [created_at], [updated_at]) VALUES (1, 1, N'Active', N'Nguyễn Văn An', N'admin.an.nguyen@company.com', N'defaultpassword', N'0912345678', N'123 Đường Láng, Đống Đa, Hà Nội', CAST(N'2025-10-10T13:54:47.8266667' AS DateTime2), NULL)
INSERT [dbo].[user] ([user_id], [role_id], [status], [fullname], [email], [password], [phone_number], [address], [created_at], [updated_at]) VALUES (2, 1, N'Active', N'Trần Thị Bích', N'admin.bich.tran@company.com', N'defaultpassword', N'0987654321', N'456 Lê Lợi, Quận 1, TP. Hồ Chí Minh', CAST(N'2025-10-10T13:54:47.8266667' AS DateTime2), NULL)
INSERT [dbo].[user] ([user_id], [role_id], [status], [fullname], [email], [password], [phone_number], [address], [created_at], [updated_at]) VALUES (3, 1, N'Active', N'Lê Minh Cường', N'admin.cuong.le@company.com', N'defaultpassword', N'0905112233', N'789 Hùng Vương, Hải Châu, Đà Nẵng', CAST(N'2025-10-10T13:54:47.8266667' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[user] OFF
GO
ALTER TABLE [dbo].[candidate_document] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[candidate_document] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[candidate_document]  WITH CHECK ADD  CONSTRAINT [FK_candidate_document_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[candidate_document] CHECK CONSTRAINT [FK_candidate_document_user]
GO
ALTER TABLE [dbo].[candidate_document]  WITH CHECK ADD  CONSTRAINT [FK_candidate_document_verified_by] FOREIGN KEY([verified_by])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[candidate_document] CHECK CONSTRAINT [FK_candidate_document_verified_by]
GO
ALTER TABLE [dbo].[candidate_skill]  WITH CHECK ADD  CONSTRAINT [FK_candidate_skill_skill] FOREIGN KEY([skill_id])
REFERENCES [dbo].[skill] ([skill_id])
GO
ALTER TABLE [dbo].[candidate_skill] CHECK CONSTRAINT [FK_candidate_skill_skill]
GO
ALTER TABLE [dbo].[candidate_skill]  WITH CHECK ADD  CONSTRAINT [FK_candidate_skill_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[candidate_skill] CHECK CONSTRAINT [FK_candidate_skill_user]
GO
ALTER TABLE [dbo].[contract]  WITH CHECK ADD  CONSTRAINT [FK_contract_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[contract] CHECK CONSTRAINT [FK_contract_user]
GO
ALTER TABLE [dbo].[interview_feedback]  WITH CHECK ADD  CONSTRAINT [FK_interview_feedback_interview] FOREIGN KEY([interview_id])
REFERENCES [dbo].[interview] ([interview_id])
GO
ALTER TABLE [dbo].[interview_feedback] CHECK CONSTRAINT [FK_interview_feedback_interview]
GO
ALTER TABLE [dbo].[interview_feedback]  WITH CHECK ADD  CONSTRAINT [FK_interview_feedback_user] FOREIGN KEY([reviewer_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[interview_feedback] CHECK CONSTRAINT [FK_interview_feedback_user]
GO
ALTER TABLE [dbo].[job_posting]  WITH CHECK ADD  CONSTRAINT [FK_job_posting_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[job_category] ([category_id])
GO
ALTER TABLE [dbo].[job_posting] CHECK CONSTRAINT [FK_job_posting_category]
GO
ALTER TABLE [dbo].[job_posting]  WITH CHECK ADD  CONSTRAINT [FK_job_posting_location] FOREIGN KEY([location_id])
REFERENCES [dbo].[location] ([location_id])
GO
ALTER TABLE [dbo].[job_posting] CHECK CONSTRAINT [FK_job_posting_location]
GO
ALTER TABLE [dbo].[notification]  WITH CHECK ADD  CONSTRAINT [FK_notification_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[notification] CHECK CONSTRAINT [FK_notification_user]
GO
ALTER TABLE [dbo].[resume]  WITH CHECK ADD  CONSTRAINT [FK_resume_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[resume] CHECK CONSTRAINT [FK_resume_user]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([role_id])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_role]
GO
USE [master]
GO
